# Dependencies
node_modules
.pnpm-store

# Build
.next
out
build
dist

# Cache
.cache
.eslintcache

# Misc
.DS_Store
*.pem
.env*.local

# Lock files (don't format)
pnpm-lock.yaml
package-lock.json
yarn.lock
